/* :root {
  --yellow: #ffef34;
  --white: #fffeed;
  --grey: #323231;
  --green: #05f0d4;
} */

.backgroundVideo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  top: 0;
  left: 0;
  transition: 0.1s linear;
}

.video {
  position: absolute;
  left: -60%;
}

.backgroundHover {
  position: absolute;
  width: 100vw;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: rgba(24, 25, 25, 0.8);
  animation-name: overlay;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
}

.backgroundHoverOutSet {
  position: absolute;
  width: 100vw;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  background-color: #181919;
  
}

.h1_hidden {
  font-size: 0.1px
}

.headers_mobile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: 0.1s linear;
}

.headers_mobile>h2 {
  color: var(--white);
  font-size: 42px;
  font-weight: 400;
  margin: 8px 25px 17px 36px;
  line-height: normal;
  animation: fadeUpInH2 1s ease-in;
}

.headers_mobile>h3 {
  color: #a5a5a5;
  font-family: 'Oswald', sans-serif;
  margin: 0px 100px 0 36px;
  font-size: 30px;
  font-weight: 100;
  line-height: normal;
  animation: fadeUpInH3 3s ease-in;
  transition-delay: 2s;
}

.homeCTA {
  margin: 16px 10px 0 42px;
  background-color: var(--green);
  border-radius: 4px;    
}   


.homeCTA>p{
  padding: 0px 20px;
  margin-top: 10;
  margin-bottom: 10px;
  font-weight: 400;
  color: black;
}

.stringsUp {
  margin-bottom: 12px;
  transition: 0.1s linear;
  width: 84px;
  height: 84px;
}

.stringsDown {
  margin-top: 5px;
  transition: 0.1s linear;
}

.stringsDown svg {
  width: 84px;
  height: 84px;
}

.stringsUp>svg {
  width: 84px;
  height: 84px;
}

.wrapper_testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 164px 36px 34px 36px;
}

.container_testimonial h3 {
  text-align: left;
  color: var(--white);
  font-size: 18px;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
}

.container_testimonial h4 {
  text-align: left;
  color: #A5A5A5;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Oswald', sans-serif;
}

.container_testimonial p {
  text-align: left;
  color: var(--white);
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

.container_testimonial_right p {
  text-align: right;
  color: var(--white);
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}

.container_testimonial_right h3 {
  text-align: right;
  color: var(--white);
  font-size: 18px;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
}

.container_testimonial_right h4 {
  text-align: right;
  color: #A5A5A5;
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: 'Oswald', sans-serif;
}

.container_testimonial h6 {
  text-align: center;
  color: var(--green);
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* .container_our_services {
  margin: 50px 36px 0px 36px;
  background: url('../public/images/abstract-3d-texture-vector-black-square-pattern-background_45981-289.jpeg');
  width: 80%;
  height: 300px;
  position: relative;
}

.our_serv_text {
  color: var(--white);
  margin: 78px 0 0 15px;
  font-family: Roboto;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
} */

/* .container_last_projects {

} */

.growAnimation {
  animation-name: grow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.container_last_projects_text>h5 {
  margin: 50px 36px 0px 36px;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
  color: var(--white);
}

.card_project_1 {
  width: 252px;
  height: 300px;
  flex-grow: 0;
  margin: 34px 8px 34px 40px;
  padding: 26px 0 38px 32px;
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: 0.3s;
  position: relative;
}

.card_project_2 {
  width: 252px;
  height: 300px;
  flex-grow: 0;
  margin: 34px 44px 34px 4px;
  padding: 26px 0 38px 32px;
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: 0.3s;
  position: relative;
}

.card_project_3 {
  width: 252px;
  height: 300px;
  flex-grow: 0;
  margin: 34px 27px 34px 21px;
  padding: 26px 0 38px 32px;
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: 0.3s;
  position: relative;
}

.card_project_4 {
  width: 252px;
  height: 300px;
  flex-grow: 0;
  margin: 34px 0 0 48px;
  padding: 26px 0 38px 32px;
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: 0.3s;
  position: relative;
}

.card_project_1:hover,
.card_project_2:hover,
.card_project_3:hover,
.card_project_4:hover {
  border: solid 1px var(--yellow);
  transition: 0.3s;
}

.card_project_title {
  margin: 0 20px 0px 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  color: var(--white);
}

.card_project_year {
  margin: -4px 177px 73px 2px;
  font-family: 'Oswald';
  font-size: 18px;
  color: #a5a5a5;
}

.container_with_arrow svg {
  width: 10px;
}

.container_with_arrow img {
  padding-right: 10px;
}

.containerImageProject {
  width: 218px;
  height: 110px;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 0;
}

.card_project_1 img,
.card_project_2 img,
.card_project_3 img,
.card_project_4 img {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 218px;
}

.container_mas_proyectos {
  margin: 45px 0 49px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  animation-name: grow;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-timing-function: ease-in-out;
}

.container_mas_proyectos img {
  width: 30px;
  height: 30px;
}

.container_with_arrow {
  display: flex;
  align-items: center;
  margin: 6px 8px 5px 13px;
  font-family: Roboto;
  font-size: 16px;
  color: var(--green)
}

.container_with_arrow>p {
  padding-right: 10px;
}

.textAndCube {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cube {
  display: none;
}
.cubeMobile {
  position: absolute;
  left: 66px;
}

.container_sobre_nosotros {
  background-color: #232323;
  padding-top: 45px;
  padding-bottom: 45px;
  margin-left: -8px;
  margin-right: -8px;
}

.container_sobre_nosotros>h5 {
  margin: 0 36px 30px 36px;
  font-size: 30px;
  color: #fffeed;
  font-weight: 300;
}

.sobre_nosotros_text_1 {
  margin: 0px 36px 20px 36px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fdfad6;
  max-width: 300px;

}

.sobre_nosotros_text_2 {
  margin: 20px 36px 140px 36px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a5a5a5;
  max-width: 300px;
}

.equipo_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.container_card_sn {
  width: 288px;
  height: 589px;
  margin: 30px 0 0;
  padding: 0 0 98px;
  border: solid 1px #fffeed;
}

.container_card_sn>img {
  width: 288px;
  height: 420px;
}

.container_card_sn>h5 {
  margin: 16px 101px 8px 36px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fffeed;
}

.container_card_sn>p {
  margin: 8px 151px 0 36px;
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a5a5a5;
}

@keyframes overlay {
  0% {
    background-color: rgba(24, 25, 25, 1);
  }

  25% {
    background-color: rgba(24, 25, 25, 1);
  }

  50% {
    background-color: rgba(24, 25, 25, 1);
  }

  100% {
    background-color: rgba(24, 25, 25, 0.8);
  }
}

@keyframes fadeUpInH2 {
  from {
    opacity: 0;
    font-size: 30px;
    margin-right: 200px
  }

  to {
    opacity: 1;
    font-size: 42px;
  }
}

@keyframes fadeUpInH3 {

  0% {
    opacity: 0;
    padding-top: 45px;
    color: var(--white);
  }

  25% {
    opacity: 0;
    padding-top: 30px;
    color: var(--white);
  }

  50% {
    opacity: 0;
    padding-top: 15px;
    color: var(--grey);
    ;
  }

  100% {
    opacity: 1;
    padding-top: 0px;
    color: var(--grey);
  }
}
@keyframes grow {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);

  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

  }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
  .headers_mobile {
    width: 100%;
    height: 100vh;
  }

  .wrapper_testimonials {
    margin: 30px 34px 30px 30px;
  }

  .stringsUp {
    margin-bottom: 12px;
  }
  
  .stringsDown   {
    margin-top: 5px;
  }

  .container_our_services {
    margin: 0 auto;
  }

  .container_last_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .container_mas_proyectos {
    width: 50%;
  }

  .backgroundVideo {
    height: 100vh;
  }

  .backgroundHover {
    height: 101vh;
  }

  .card_project_2 {
    margin: 34px 44px 34px 56px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .headers_mobile {
    width: 100%;
    height: 100vh;
  }

  .backgroundVideo {
    height: 100vh;
    display: flex;
  }

  .video {
    margin-left: 35%;
    height: 100vh;
  }

  .wrapper_testimonials {
    margin: 43px 60px 43px 60px;
  }

  .stringsUp {
    margin-bottom: 12px;
  }
  
  .stringsDown   {
    margin-top: 5px;
  }

  .container_our_services {
    margin: 0 auto;
  }

  .container_last_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
  }

  .container_mas_proyectos {
    width: 50%;
  }

  .card_project_2 {
    margin: 34px 44px 34px 56px;
  }

  .leftBlock {
    width: 33vw;
    height: 100%;
    background-color: #181919;
    z-index: 99;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .backgroundVideo {
    height: 102vh;
    width: 102vw;
    display: flex;

  }

  .video {
    margin-left: 90%;
    height: 102vh;
  }

  .leftBlock {
    width: 13vw;
    height: 100%;
    background-color: #181919;
    z-index: 99;
  }

  .backgroundHover {
    width: 102vw;
    height: 102vh;
  }

  .stringsUp {
    margin-bottom: 12px;
  }
  
  .stringsDown   {
    margin-top: 5px;
  }

  .container_our_services {
    margin: 0 auto;
    width: 60%;
  }

  .container_last_projects {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }

  .container_sobre_nosotros {
    margin-right: -28px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .backgroundVideo {
    width: 100vw;
    height: 102vh;
    z-index: -2;
  }

  .video {
    position: absolute;
    left: 0px;
    z-index: -1;
  }

  .leftBlock {
    width: 33vw;
    height: 100%;
    background-color: #181919;
    z-index: 999;
  }

  .stringsUp {
    margin-bottom: 12px;
  }
  
  .stringsDown   {
    margin-top: 5px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .backgroundVideo {
    width: 100vw;
    height: 102vh;
    z-index: -2;
  }

  .backgroundHover {

    height: 102vh;

  }

  .video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 40%;
    z-index: -1;
  }

  .leftBlock {
    width: 50vw;
    height: 100%;
    background-color: #181919;
    z-index: 999;
  }

  .headers_mobile {
    display: flex;
    margin-left: 56px;
  }

  .logo_wrap img {
    width: 150px;
    margin-left: 460px;
  }

  .headers_mobile>h2 {
    font-size: 5.5em;
    font-weight: 200;
    margin: 8px 600px 17px 500px;
  }

  .headers_mobile>h3 {
    margin: 0px 100px 0 500px;
    font-size: 34px;
    font-weight: 100;
  }

  .homeCTA {
    margin: 36px 100px 0 742px;
    background-color: var(--green);
    border-radius: 4px;    
  }   
  

  .homeCTA>p{
    padding: 0px 20px;
    margin-top: 10;
    margin-bottom: 10px;
    font-weight: 400;
    color: black;
  }

  .wrapper_testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 160px 36px 34px 36px;
  }

  .stringsUp {
    margin-bottom: 12px;
    transition: 0s linear;
    width: 150px;
    height: 150px;
  }

  .stringsUp>svg{
    width: 150px;
    height: 150px;
  }
  
  .stringsDown {
    margin-top: 5px;
    transition: 0s linear;
    width: 150px;
    height: 150px;
  }

  .container_sobre_nosotros {
    padding: 10vh 7vw;
  }
  .container_sobre_nosotros>h5 {
    font-size: 58px;
  }

  .textAndCube {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cube {
    display: block;
    padding-top: 46px;
    padding-left: 600px;
  }

  .cubeMobile {
    display: none;
  }

  .proyectsSectionContainer {
    padding: 10vh 7vw;
  }

  .container_last_projects {
    margin-top: 5%;
  }

  .container_last_projects_text>h5 {
    font-size: 58px;
  }

  .card_project_1 {
    width: 360px;
    margin-left: 20%;
    height: 360px;
    cursor: pointer;
  }

  .card_project_2 {
    margin-top: 10%;
    margin-left: 10%;
    width: 360px;
    height: 360px;
    cursor: pointer;
  }

  .card_project_3 {
    margin-left: 10%;
    margin-top: 0;
    width: 360px;
    height: 360px;
    cursor: pointer;
  }

  .container_with_arrow {
    padding: 10px;
    margin: 0px 0 0 0;
    cursor: pointer;
  }

  .container_with_arrow:hover {
    background-color: var(--grey);
    font-size: 400px;
    border-radius: 4px;
    transition: all .5s ease-in-out;
  }

  .container_with_arrow img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .container_with_arrow p {
    font-size: 24px;
    margin: 0;
  }

  .container_with_arrow svg {
    width: 30px;
    padding-right: 10px;
  }

  .containerImageProject {
    width: 300px;
    height: 220px;
  }

  .card_project_1 img,
  .card_project_2 img,
  .card_project_3 img,
  .card_project_4 img {
    width: 318px;
  }

  .equipo_cards {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 80px;
  }

 
  @keyframes fadeUpInH2 {
    0%{
      opacity: 0;
      font-size: 3em;
      margin-right: 200px
    }

    100% {
      opacity: 1;
      font-size: 5.5em;
    }
  }

  @keyframes fadeUpInH3 {

    0% {
      opacity: 0;
    }

    25% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.6;
      ;
    }

    100% {
      opacity: 1;
    }

  }



}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  .backgroundVideo {
    width: 100vw;
    height: 102vh;
    z-index: -2;
  }

  .backgroundHover {
    height: 102vh;
  }

  .video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 40%;
    z-index: -1;
  }


}