.card_project {
  width: 252px;
  height: 300px;
  flex-grow: 0;
  margin: 34px 34px 8px 40px;
  padding: 26px 0 38px 32px;
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: 0.3s;
  position: relative;
}

.card_project:hover {
  border: solid 1px var(--yellow);
  transition: 0.3s;
}

.card_project_title {
  margin: 0 20px 0px 0;
  font-size: 24px;
  color: var(--white);
}

.card_project _year {
  margin: 0px 177px 73px 2px;
  font-size: 18px;
  color: #a5a5a5;
}

.containerImageProject {
  width: 250px;
  max-height: 154px;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 0;
  top: 162px;
}


.card_project img {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 252px;
}

.projImage {
  transition: 0.5s
}


.projImage:hover {
  transform: scale(1.1);
  transition: 0.5s
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  .card_project {
    width: 360px;
    margin-left: 20%;
    height: 360px;
    cursor: pointer;
  }

  .containerImageProject {
    margin-top: 40px;
    width: 353px;
    height: 233px;
  }

  .card_project img {
    width: 353px;
  }

  .card_project_title {
    margin: 26px 20px 0px 6px;
  }

  .card_project_year {
    margin-left: 6px;
  }


  /* .containerImageProject {
    width: 368px;
    max-height: 184px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
    position: absolute;
    right: -14px;
  }  */

  /* .containerImageProject>img {

    margin-top: -30px;
  }

  

 

  .enterCard {
    animation-name: enterCard;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.9, -0.01, 0.97, 0.41);
  }

  .exitCard {
    animation-name: exitCard;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.9, -0.01, 0.97, 0.41);
  }

  .card_project {
    width: 420px;
    margin: 40px;
    height: 420px;
    cursor: pointer;
    margin-top: 80px;
  }

  .containerImageProject {
    display: flex;
    width: 90%;
    height: 90%;
    right: -7px;
    top: 80px;
    overflow: hidden;
    border-radius: 4px 0px 0px 4px;
    flex-wrap: wrap;
    align-content: center;
  }

  .containerImageProject>img {
    border-radius: 4px 0px 0px 4px;
  }
  .cardImage {
    transition: 0.5s;
  }
  
  .cardImage:hover {
    max-height: 90%;
    transform: scale(1.1);
    transition: 0.5s;
  }
}



@keyframes enterCard {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

@keyframes exitCard {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
  }
}
*/
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}