.card_project {
  width: 252px;
  height: 300px;
  flex-grow: 0;
  margin: 34px 8px 34px 40px;
  padding: 26px 0 38px 32px;
  border-radius: 4px;
  border: solid 1px var(--white);
  transition: 0.3s;
  position: relative;
}

.card_project:hover {
  border: solid 1px var(--yellow);
  transition: 0.3s;
}

.card_project_title {
  margin: 0 20px 0px 0;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  color: var(--white);
}

.card_project_year {
  margin: -4px 177px 73px 2px;
  font-family: 'Oswald';
  font-size: 18px;
  color: #a5a5a5;
}

.containerImageProject {
  width: 196px;
  height: 110px;
  overflow: hidden;
  border-radius: 4px 0 0 4px;
  position: absolute;
  right: 0;
  bottom: 34px;
}

.containerImageProject>img {
  width: auto;
  height: auto;
  margin-top: -30px;
}

.card_project {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: 218px;
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

  .card_project_title {
    margin: 26px 20px 0px 6px;
  }

  .card_project_year {
    margin-left: 6px;
  }


  .containerImageProject {
    width: 368px;
    height: 184px;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
    position: absolute;
    right: 0;
    bottom: 34px;
  }

  .containerImageProject>img {

    margin-top: -30px;
  }

  .card_project {
    width: 420px;
    height: 420px;
    margin: 5% 5%;
    cursor: pointer;
  }

  .enterCard {
    animation-name: enterCard;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.9, -0.01, 0.97, 0.41);
  }

  .exitCard {
    animation-name: exitCard;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.9, -0.01, 0.97, 0.41);
  }

  .card_project {
    width: 420px;
    margin: 5% 5%;
    height: 420px;
    cursor: pointer;

  }

  .containerImageProject {
    display: flex;
    width: 90%;
    height: 90%;
    right: 0px;
    top: 84px;
    border-radius: 4px;
    flex-wrap: wrap;
    align-content: center;
  }

  .containerImageProject>img {
    width: 100%;
    border-radius: 4px;
  }
}

@keyframes enterCard {
  from {
    opacity: 0
  }

  to {
    opacity: 1;
  }
}

@keyframes exitCard {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}