.topHeader {
    width: 297px;
    height: 114px;
    margin: 132px 36px 0px 36px;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    color: var(--white);
}

.containerPhotos {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.galleryGrid {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galleryGrid img {
    width: 100vw;
}

.imgRow_1 img {
    width: 100vw;
}

.imgRow_2 img {
    width: 100vw;
}

.imgRow_3 {
    display: flex;
    height: 250px;
}

.imgRow_3 img {
    width: 50vw;
}
.imgRow_31 {
    width: 45%;
} 

.imgRow_32 {
    width: 45%;
} 

.imgRow_32 img {
    width: 215%;
    overflow: hidden;
    padding-left: 30px;
} 



.firstCP {
    width: 262px;
    height: 230px;
    margin: 0 0 16px 23px;
}

.secondCP {
    width: 262px;
    height: 120px;
    flex-grow: 0;
    margin: 0 0 16px 23px;
}

.thirdCP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 263px;
    margin: 0 0px 32px 23px;
}

.containerData {
    margin: 0 0px 32px 23px;
}

.containerData li {
    list-style: none;
    vertical-align: top;

}

.containerData tr {
    min-width: 200px;
    vertical-align: top;
}

.containerData td {
    min-width: 110px;
}

.containerData td p:first-child {
    margin-top: 0px;
}

.projectDescription p {
    margin: 0 32px 32px 23px;
}

.logo_wrap {
    display: none;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .logo_wrap {
        display: block;
        width: 160px;
        margin-top: 56px;
        margin-left: 56px;
        cursor: pointer;
    }

    .containerPhotos {
        width: 50%;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}