.topHeader {
    width: 297px;
    height: 114px;
    margin: 132px 36px 36px 36px;
    font-weight: 300;
    text-align: left;
    color: var(--white);
}

.imgDestView {
    width: 265px;
    height: 265px;
    margin-left: 36px;
}
.imgDest {
    position: relative;
}
.imgDestShadow {
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
    width: 265px;
    height: 265px;
    z-index: -1;
    opacity: 0.5;
    filter: blur(100px);
}

.pTitle {
    width: 297px;
    margin: 56px 36px 40px 36px;
}

.pTitle>h3 {
    text-align: left;
    color: var(--yellow);
    font-weight: 200;
}

.containerPhotos {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.galleryGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galleryGrid img {
    width: 90vw;
    margin-bottom: 32px;
}

.firstCP {
    width: 262px;
    height: 230px;
    margin: 0 0 16px 23px;
}

.secondCP {
    width: 262px;
    height: 120px;
    flex-grow: 0;
    margin: 0 0 16px 23px;
}

.thirdCP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 263px;
    margin: 0 0px 32px 23px;
}

.containerData {
    margin: 56px 0px 32px 23px;
}

.containerData li {
    list-style: none;
    vertical-align: top;
}


.containerData tr {
    min-width: 200px;
    vertical-align: top;
}

.containerData td {
    min-width: 110px;
}

.containerData td p:first-child {
    margin-top: 0px;
}

.projectDescription p {
    margin: 0 32px 32px 36px;
    font-size: 16px;
}

.logo_wrap {
    display: none;
}

.containerSketchFab {
    width: 94%;
}

.sketchFab {
    width: 100%;
    height: 230px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
    .projectHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 120px;
    }


    .imgDestView {
        width: 265px;
        height: 265px;
        margin-left: 36px;
    }
    .imgDest {
        position: relative;
        margin-right: 4em;
    }
    .imgDestShadow {
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 265px;
        height: 265px;
        z-index: -1;
        opacity: 0.5;
        filter: blur(100px);
    }

    .topHeader {
        width: auto;
        height: 114px;
        margin: 80px 36px 42px 64px;
    }

    .pTitle {
        width: auto;
        height: auto;
        margin-left: 36px;
    }

    .projectDescription p {
        margin: 0 10% 32px 10%;
        font-size: 16px;
    }

    .containerData {
        margin: 80px 0px 32px px;
        font-size: 16px;
    }

    .containerSketchFab {
        width: 92%;
    }

    .sketchFab {
        width: 100%;
        height: 90vh;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .projectHeader {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-top: 120px;
        align-items: center;
    }
    
    .containerTopHeader {
        width: 50%;
    }
    .imgDest{
        width: 50%;
    }

    .imgDestView {
        width: 265px;
        height: 265px;
        margin-left: 0px;
    }
  
    .imgDest {
        position: relative;
        margin-left: 12em;
    }
    .imgDestShadow {
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 265px;
        height: 265px;
        z-index: -1;
        opacity: 0.5;
        filter: blur(100px);
    }

    .topHeader {
        width: auto;
        height: 114px;
        font-size: 42px;
    }

    .pTitle {
        width: auto;
        height: auto;
    }

    .projectDescription p {
        margin: 0 10% 32px 10%;
        font-size: 16px;
    }

    .containerData {
        margin: 80px 0px 32px 23px;
        font-size: 16px;
    }

    .sketchFab {
        width: 99%;
        height: 390px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .projectHeader{
            display: flex;
            justify-content: space-around;
            margin-top: 120px;

    }
    .imgDest {
        position: relative;
        margin-left: 12em;
    }
    .imgDestShadow {
        display: block;
        position: absolute;
        top: 0;
        left: 0%;
        width: 265px;
        height: 265px;
        z-index: -1;
        opacity: 0.5;
        filter: blur(100px);
    }
     .topHeader {
         margin-left: 81px;
     }

     .pTitle>h5 {
         margin-left: 50px;
     }

     .projectDescription {
        margin-left: 130px;
     }

     .containerData {
         margin-left: 81px;
     }

     .sketchFab {
        width: 100%;
        height: 520px;
    }
     
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .logo_wrap {
        display: block;
        width: 160px;
        margin-top: 56px;
        margin-left: 56px;
        cursor: pointer;
    }

    .containerPhotos {
        width: 50%;
    }

    .section {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .projectHeader {
        padding-bottom: 12vh;
        align-items: center;
        margin-left: 12vw;
        margin-right: 12vw;
    }
    
    .containerTopHeader {
        width: 50%;
    }

    .topHeader {
        font-size: 6.5em;
        line-height: 1.1em;
        width: 80%;
        /* margin: 97px 36px 100px 36px; */
        margin: 0px 0px 0px 0px;
    }

    .imgDest {
        position: relative;
        margin-left: 12em;
    }

    .imgDestView {
        height: 400px;
        width: 400px;
    }

    .imgDestShadow {
        display: block;
        position: absolute;
        top: 0;
        right: 0%;
        height: 400px;
        width: 400px;
        z-index: -1;
        opacity: 0.5;
        filter: blur(100px);
    }
    .pTitle {
        width: 50%;
        margin: 0 25% 0 25%;
    }

    .pTitle>h3 {
        margin-right: 25%;
    }

    .projectDescription {
        margin-left: 25%;
        margin-right: 25%;
    }

    .projectDescription p {
        margin: 0 10% 24px 10%;
    }
    
    .dataAndGallery {
        margin-top: 12vh;
        display: flex;
        justify-content: space-between;
    }

    .containerData {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0px 0px 32px 200px;
    }
    .containerPhotos {
        width: 100%;
    }

    .galleryGrid {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .galleryGrid img {
     width: 50%;
     filter: brightness(0.6);
     transition: all 0.2s ease-in-out;
     margin-bottom: 64px;
    }
    .galleryGrid img:hover {
        z-index: 1;
        transform: translateZ(0) scale(1.2);
        filter: brightness(1);
        transition: all 0.2s ease-in-out;
    }
    .photoContainer {
        display: flex;
        justify-content: center;
    }
    .containerSketchFab {
        display: flex;
        justify-content: center;
        filter: brightness(0.6);
        width: 50%;
        transition: all 0.2s ease-in-out;
    }
    .containerSketchFab:hover {
        z-index: 1;
        transform: translateZ(0) scale(1.2);
        filter: brightness(1);
        transition: all 0.2s ease-in-out;
    }
    .sketchFab {
        width: 100%;
        height: 300px;
    }
}



/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}