.projectsHeader {
    padding-top: 62px;
    margin-left: 32px;
    font-family: 'Oswald', sans-serif;
    font-size: 42px;
    font-stretch: normal;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #05f0d4;
}

.cardsContainer {
    margin-bottom: 72px;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}
 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  /* Styles */
}
 
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}


