.projectsHeader>h1{
  margin: 36px 36px 36px 36px;
  text-align: left;
  color: var(--white);
  font-weight: 400;
}

.projectsHeader>p {
  margin: 0px 36px 46px 36px;
  color: var(--white);
}

.cardsContainer {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
}
.growAnimation {
  animation-name: grow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  display: flex;
  flex-wrap: wrap;
}

.logo_wrap {
  display: none;
}

@keyframes grow {
  from {
    opacity: 0;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);

  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
  .projectsHeader {
    width: 100%;
    margin-top: 30px;
    margin-left: 40px;
    /* margin-right: ; */

  }

  .projectsHeader>h5 {
    margin: 36px 36px 36px 36px;
    font-size: 30px;
    text-align: left;
    color: var(--white);
    font-size: 30px;
    font-weight: 400;
  }
  
  .projectsHeader>p {
    margin: 0px 36px 46px 36px;
    font-size: 16px;
  }

 

  .content {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .projectsHeader {
    width: 100%;
    margin-top: 6%;
    margin-left: 0px;
  }

  

  .content {
    display: flex;
    justify-content: center;
  }

  .cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .growAnimation {
  
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .projectsHeader {
    width: 100%;
    margin-left: 0px;
    margin-top: 6%;
    top: -21%;
  }
  .growAnimation {
    justify-content: space-around;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1025px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

 
  .projectsHeader {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px
  }

  .projectsHeader>h1 {
    margin-bottom: 10px;
  }

  .projectsHeader>p {
    margin-left: 36px;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .cardsContainer {
    width: 84%;
    justify-content: space-around;
    margin-top: 0px;
    /*height: auto;
    margin-left: 25%;
    margin-right: 18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    
    align-items: end; */
  }

  .logo_wrap {
    display: block;
    width: 160px;
    margin-top: 56px;
    margin-left: 56px;
    cursor: pointer;
  }

  .growAnimation {
    overflow-x: scroll;
    display: flex;
    /* -webkit-box-shadow: inset -21px 1px 42px -12px rgba(0,0,0,0.47); 
    box-shadow: inset -21px 1px 42px -12px rgba(0,0,0,0.47); */
  }
  

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}