.projectsHeader>h5 {
  margin: 36px 36px 36px 36px;
  font-size: 30px;
  text-align: left;
  color: var(--white);
  font-size: 30px;
  font-weight: 400;
}

.projectsHeader>p {
  margin: 0px 36px 46px 36px;
  font-size: 16px;
}

.cardsContainer {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_wrap {
  display: none;
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (orientation : landscape) {
  .projectsHeader {
    width: 31%;
    margin-top: 30px;
    margin-left: 40px;
    /* margin-right: ; */

  }

  .cardsContainer {
    margin-top: 80px;
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .content {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .cardsContainer {
    width: 50vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .projectsHeader {
    width: 31%;
    margin-top: 36%;
    margin-left: 0px;
  }

  .cardsContainer {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .cardsContainer {
    width: 100%;
    height: auto;
    margin-left: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .projectsHeader {
    width: 31%;
    margin-left: 0px;
    margin-top: 19%;
    position: fixed;
    top: -21%;
  }
  .projectsHeader>h5 {
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1025px) and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  .projectsHeader {
    width: 31%;
  }

  .projectsHeader>h5 {
    margin-bottom: 10px;
    font-size: 3.5em;
  }

  .projectsHeader>p {
    margin-left: 36px;
    margin-bottom: 2px;
    margin-top: 2px;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .cardsContainer {
    width: 84%;
    justify-content: space-around;
    /*height: auto;
    margin-left: 25%;
    margin-right: 18%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
    
    align-items: end; */
  }

  .logo_wrap {
    display: block;
    width: 160px;
    margin-top: 56px;
    margin-left: 56px;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
  /* Styles */
}